@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@300&family=Caveat+Brush&family=Flavors&family=Fredericka+the+Great&family=Leckerli+One&family=Sigmar+One&family=Zilla+Slab+Highlight&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chela+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap');


h1{font-family: 'Averia Serif Libre', cursive;}
h2{font-family: 'Averia Serif Libre', cursive;}
body {font-family: 'Averia Serif Libre', cursive;}

