.remark-slide-content{
  border: 5px solid black;

}

.remark-slide h1{
  border-bottom: 2px solid black;

}


.remark-slide body {
  font-size: 20px;
}

.remark-slide-number {
  font-size: 25px;
  color: #457c95;
  font-weight: 500;
}


.title-slide {
  background-image: url(https://raw.githubusercontent.com/sdimakis/xaringan_themes/master/art/andrew-coelho.jpg);
  border: 5px solid black;
  background-size: cover;
}

.title-slide body{

}

.title-slide h1 {
  font-size: 65px;
  color: white;
  border: none;
  background-color: rgba(255,255,255, 0.4);
  text-shadow: 5px 0 0 #000, 0 -5px 0 #000, 0 5px 0 #000, -5px 0 0 #000;
  margin-left: 300px;
  padding-right: 50px;
  margin-bottom: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
}


.title-slide h2 {
  font-size: 40px;
  font-weight: 500;
  color: black;
  margin-top: 0px;
  text-align: right;
  margin-left: 150px;
  background-color: rgba(255,255,255, 0.4);
  margin-left: 300px;
  padding-right: 50px;
  padding-bottom: 50px;




}

.title-slide .remark-slide-number {
  display: none;
}

a {
    color: #a8b1bd;
}

blockquote {
  border-left: solid 5px lightgray;
  padding-left: 1em;
}

.footnote {
  position: absolute;
  bottom: 3em;
  padding-right: 4em;
  font-size: 90%;
}

.remark-slide-number {
  font-size: .8em;
  background-color: #9cbf9c;
  color: black;
  padding: 10px;
  margin-right: -14px;
  margin-bottom: 10px;
  opacity: 1;
}

.special{
  background: #9cbf9c;
  border-radius: 10px;
}