
.remark-slide-content > h1 {
  margin-top: 20px;
  margin-bottom: 0px;
  padding-left: 5px;
  border-bottom: 2px solid black;

}

.remark-slide body {
  font-size: 20px;
}

.remark-slide-number {
  font-size: 25px;
  color: #457c95;
  font-weight: 500;
}


.title-slide {
  background-image: url(https://raw.githubusercontent.com/sdimakis/xaringan_themes/master/art/patrick-tomasso.jpg);
  background-size: cover;
}

.title-slide h1 {
  font-size: 80px;
  color: white;
  text-shadow: 5px 0 0 #000, 0 -5px 0 #000, 0 5px 0 #000, -5px 0 0 #000;

}

.title-slide h2 {
  font-size: 50px;
  font-weight: 500;
  color: white;
  background:black;
  margin-top: 0px;
  margin-left: 50px;
  margin-right:50px;
}

.title-slide .remark-slide-number {
  display: none;
}

a {
    color: #a8b1bd;
}